  #customization{
    background-color: #A2CA29;
    padding: 5em 0 0 0;

    .first {
      font-size: 4em;
      color: #FAF9F9;
    }

    h3{
      color: #FAF9F9;
    }

    p{
      color:#FAF9F9;
      line-height: 26px;
    }

    a{
      color: #FAF9F9;

    }

    .fa-long-arrow-right{
      color: #FAF9F9;
    }

    .fitness-first-row {
      margin-top: 6em;
      

    }
    .details{
      background-color: #FAF9F9;
      text-align: center;
      padding: 3em 1em;
      min-height:434px;

    }
    .red{
      color:#FD5D47;
      text-transform: uppercase;
      padding: 1em;
      font-weight: bold;
    }

    .current-color{
       color:#A2CA29;
       margin-top: -27px;
       text-transform: uppercase;
    }





    .drop{
      margin: 0.8em;
      font-size: 2em;
      color: #d3d3d3;
    }

  .black{
    color:#A9ADB0;
  }

  .image2 {
    background-image: url('../images/fitness2.jpg');
    background-size: cover;
    background-position: center center;
    min-height:434px;
  }

  .users{
    position:absolute;
    bottom:1em;
    right:1em;
  }
  .active{
    color:#FD5D47;
    font-weight: 900;

  }
  .number{
    color:#FAF9F9;
    font-weight: 900;
     }

    .image3 {
      background-image: url('../images/fitness3.jpg');
      background-size: cover;
      background-position: center center;
      min-height:427px;
      padding: 0px 0px;
      margin-left: 0px;
  }
  .users2{
    position:absolute;
    bottom:1em;
    left:1em;
  }

    .products-used{
      color:#FAF9F9;
      font-weight: 900;
    }

  i{color: #FD5D47;
     position: relative;
     top: 2px;
     font-size: 18px;
  }
  .fitness-first-row2 {
    margin-top: 6em;

  }
    .inspiration{
    background-color: #FAF9F9;
    text-align: center;
    padding: 3em 1em;
    min-height: 427px;

  }



  }
