    body {
      overflow-x: hidden;
    }

    #landing {
      min-height: 100vh;
      background-image: url('../images/fitness1.jpg');
      background-size: cover;
      position: relative;
      background-repeat: no-repeat;
      background-position: center center;

      .row1{
        position: relative;
        top: 400px;
      }
      .align {
        text-align: right;

        h1 {

          color:#FAF9F9;


          span{
            color:#A2CA29;
          }
        }

        h4{
          color:#FAF9F9;
          span{
            color:#FD533C;
          }
        }
      }

      i{
        color: #FD5D47;
      position: relative;
      top: 31px;
     font-size: 2em;
     letter-spacing: 9px;
      }

      .navbar-collapse{
        line-height: 24px;
      }
      ul{
        margin-top: 23px;
      }
      .navbar-inverse {
        background-color: transparent;
        border-color: transparent;
        position: fixed;

    }
    .navbar-inverse .navbar-nav>.active>a {
      color: #DADADB;
      background-color: transparent;

     }

     .navbar-inverse .navbar-nav>li>a {
        color: #FFF;
        font-weight: bold;

    }

    .navbar-brand {
      font-size: 2em;

    }
    .navbar-inverse .navbar-brand {
        color: #FAF9F9;
        font-weight:bold;
     }
    .navbar-inverse .navbar-brand span.fit{
          border-bottom: 4px solid #A3C926;
    }
     }

     section#landing:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-right: 100vw solid rgba(255, 0, 0, 0.3);
    border-top: 85px solid transparent;
    border-bottom: 30px solid rgba(255, 0, 0, 0.3);
}
