#runner{
  background-image: url('../images/fitness8.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;

  height: 100vh;

}

 .launch{
   color: #FAF9F9;
   text-align: center;
   padding: 2em;
   font-size: 2.7em;
 }

 .launch-para{
   color: #FAF9F9;
   text-align: center;
 }
