#runner{
  background-image: url('../images/fitness8.jpg');
  height: 100vh;
}

 .launch{
   color: #FFF;
   text-align: center;
   padding: 2em;
 }

 .launch-para{
   color: #FFF;
   text-align: center;
 }
